/* Topbar */
.topbar {
  height: 20px;
  background-color: #800020;
}

/* Navbar */
.bg-light {
  background-color: #E3242B !important;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    font-weight: bold;
    color: #000;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 1.5em;
    color: #000;
}

.navbar-light .navbar-nav .nav-link:hover {
    font-weight: bold;
    color: #000;
}

.navbar-light .navbar-brand {
  font-size: 1.8em;
  color: #000 !important;
}

.dropdown-menu {
  background-color: #ff9194 !important;
}

.dropdown-item:hover {
  background-color: #ff9194 !important;
  font-weight: bold;
}

/* Title bar */
.content_head {
  margin-left: 50px;
  margin-top: 30px;
}

.content_head h1 {
  font-size: 3em;
}

/* Introduction */
.introduction {
  border-style: groove;
  border-color: #E3242B;
  margin-left: 100px;
  margin-right: 100px;
  padding: 10px;
}

.introduction p {
  font-size: 1.5em;
}

/* Mean and Variance */
.mean-variance-container {
  flex-wrap: wrap;
  margin : 0 auto;
	display : flex;
	justify-content : space-around;
  margin-left: 100px;
  margin-right: 100px;
  padding: 10px;
}

.mean-container {
  text-align: center;
  width: 40%;
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
}

.mean-container h2 {
  font-size: 2.5em;
  text-decoration: underline;
  text-decoration-color: #E3242B;
}

.mean-container img {
  width: 30px;
}

.variance-container {
  text-align: center;
  width: 40%;
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
}

.variance-container h2 {
  font-size: 2.5em;
  text-decoration: underline;
  text-decoration-color: #E3242B;
}

.variance-container img {
  width: 30px;
}

/* Formulas and Graphs */
.pmf-container, .pdf-container, .cdf-container {
  flex-wrap: wrap;
  margin : 0 auto;
	display : flex;
	justify-content : space-around;
  margin-left: 100px;
  margin-right: 100px;
  padding: 10px;
}

.pmf, .pdf, .cdf {
  width: 100%;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 50px;
}

.pmf h2, .pdf h2, .cdf h2 {
  padding: 10px;
  display: inline-block;
  width: auto;
  border-style: groove;
  border-color: #E3242B;
  font-size: 3em;
}

.pmfFormula, .pdfFormula, .cdfFormula {
  width: 100%;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #E3242B;
  margin-bottom: 30px;
  margin-top: 30px;
}

.pmfFormula h3, .pdfFormula h3, .cdfFormula h3 {
  font-size: 3em;
}

.pmfFormula img, .pdfFormula img, .cdfFormula img {
  width: 20%;
}

.pmfGraph, .pdfGraph, .cdfGraph {
  width: 100%;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #E3242B;
  margin-bottom: 30px;
  margin-top: 30px;
}

.pmfGraph h3, .pdfGraph h3, .cdfGraph h3{
  font-size: 3em;
}

.pmfGraph img, .pdfGraph img, .cdfGraph img{
  width: 50%;
}



.footer {
  display: flex;
  justify-content: space-around;
}
