<<<<<<< HEAD
.content {
	font-family: "Times New Roman";

}
.titleBar {
	text-align: center;
	padding: 25px 5px 0px 5px;
	margin: 0px 0px 40px 0px;
	background-color: #FF7F7F;
}
.secondary-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.list-container {
	margin: 10px 5px 200px 5px;
}
.footer {
	display: flex;
	justify-content: space-around;
	background-color: #FF7F7F;
}
#statImage {
	margin: 1px 5px 15px 5px;
}
#introduction {
	margin: 10px 200px 50px 200px;
}
@media only screen and (max-width: 600px) {
	#statImage {
		width: 100%;
	}
	#introduction {
		margin: 10px;
	}
}
@media only screen and (min-width: 601px) and (max-width: 990px) {
	#introduction {
		margin: 10px 100px 50px 100px;
	}
=======
/* Topbar */
.topbar {
  height: 20px;
  background-color: #800020;
}

/* Navbar */
.bg-light {
  background-color: #E3242B !important;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    font-weight: bold;
    color: #000;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

.navbar-light .navbar-nav .nav-link:hover {
    font-weight: bold;
    color: #000;
}

.navbar-light .navbar-brand {
  color: #000 !important;
}

.dropdown-menu {
  background-color: #ff9194 !important;
}

.dropdown-item:hover {
  background-color: #ff9194 !important;
  font-weight: bold;
>>>>>>> 5f2bf9509743bfb7e6be436e2a0bcccc5bbfd09a
}
